// colors
$primary: #EA9D0D;
$main : #301D02;
$black: #000;
$white: #fff;
$green: #3CF45A;
$gray: #A2A2A2;
$dark-gray: #0C0C0C;
$gold: #CFAC69;

$mid-grad: linear-gradient(180deg, #141412 33.06%, #060606 112.81%);
// fonts
$mainFont: 'Inter', sans-serif;



